#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Services And Daemons Void Linux
Exec=xdg-open https://docs.voidlinux.org/config/services/index.html
Icon=start-here-void

