[Desktop Entry]
Version=1.0
Type=Link
Name=Cups
Comment=Accedi alle Stampanti
Icon=preferences-devices-printer
URL=http://localhost:631/admin
GenericName=Server stampanti
