#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Maps
Exec=/usr/bin/chromium --profile-directory=Default --app-id=aohoeepbnfpjbnbjklfdkckldpciegjg
Icon=chrome-aohoeepbnfpjbnbjklfdkckldpciegjg-Default
StartupWMClass=crx_aohoeepbnfpjbnbjklfdkckldpciegjg
