[Desktop Entry]
Version=1.0
Name=Mozilla Firefox (bin)
GenericName=Web Browser
Comment=Browse the Web
Exec=firefox-bin %u
Icon=firefox-bin
Terminal=false
Type=Application
MimeType=application/pdf;application/vnd.mozilla.xul+xml;application/xhtml+xml;text/html;text/mml;text/xml;x-scheme-handler/ftp;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
Categories=Network;WebBrowser;
Keywords=web;browser;internet;
Actions=new-window;new-private-window;
X-XFCE-Source=file:///usr/share/applications/firefox-bin.desktop

[Desktop Action new-window]
Name=Open a New Window
Name[it]=Nuova finestra
Exec=firefox-bin --new-window %u

[Desktop Action new-private-window]
Name=Open a New Private Window
Name[it]=Nuova finestra anonima
Exec=firefox-bin --private-window %u
