[Desktop Entry]
Name=Where am I?
GenericName=Demo geolocation application
Comment=Find your current location
Keywords=geolocation;
Exec=/usr/libexec/geoclue-2.0/demos/where-am-i
Icon=maps
NoDisplay=true
Terminal=true
Type=Application
X-Geoclue-Reason=Allows your current location to be shown on terminal.
Name[it_IT.UTF-8]=Wai?
