[Desktop Entry]
Name=Removable Drives and Media
Name[it]=Unità rimovibili e supporti
Comment=Configure management of removable drives and media
Comment[it]=Configurazione della gestione delle unità rimovibili e dei supporti
Exec=thunar-volman-settings
Icon=drive-removable-media
Terminal=false
StartupNotify=true
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;
X-XfcePluggable=true
X-XfceHelpComponent=thunar
X-XfceHelpPage=using-removable-media
Name[it_IT.UTF-8]=Unità rimovibili
