#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Wiki Gentoo
Exec=xdg-open https://wiki.gentoo.org/wiki/Handbook:Main_Page/it
Icon=start-here-gentoo

