[Desktop Entry]
Encoding=UTF-8
Exec=firefox %u
Icon=firefox
Type=Application
Categories=Application;Network;
Name=Firefox
GenericName=Web Browser
GenericName[it]=Browser Web
MimeType=text/html;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/geo;image/svg+xml;
X-KDE-StartupNotify=true
X-XFCE-Source=file:///usr/share/applications/mozilla-firefox.desktop
