[Desktop Entry]
Version=1.0
Type=Application
Name=OBconf
Comment=Impostazioni di Openbox
Exec=obconf %f
Icon=obconf
Path=
Terminal=false
StartupNotify=false
