#------------------------------------------------------------------------------
# Modified Calculate Utilities 3.6.7.15
# Processed template files:
# /var/db/repos/calculate/profiles/templates/3.6/6_ac_desktop_profile/2-user/xfce-base/XFCE-4.10/.config/xfce4/desktop/icons.screen0.rc
#------------------------------------------------------------------------------
[Calculate Linux Install]
row=1
col=0

[GParted]
row=1
col=1

[Installation Guide]
row=2
col=0

[Calculate Linux Community]
row=2
col=1
