[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ilnanny/Modelli]
row=2
col=0

[/home/ilnanny/Immagini]
row=8
col=0

[/home/ilnanny/Scaricati]
row=4
col=0

[/home/ilnanny/Ambiente grafico]
row=5
col=0

[/home/ilnanny/Git]
row=9
col=0

[/home/ilnanny/Documenti]
row=6
col=0

[/home/ilnanny/Video]
row=1
col=0

[/home/ilnanny/Musica]
row=7
col=0

[/home/ilnanny/Pubblici]
row=3
col=0

[/home/ilnanny]
row=0
col=0

