[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ilnanny/Modelli]
row=7
col=0

[BE027C2C027BE7B3]
row=2
col=0

[D63EABB03EAB8857]
row=1
col=0

[D83456D53456B66A]
row=0
col=0

[5A1689DC1689BA11]
row=3
col=0

[Cestino]
row=4
col=0

[/]
row=5
col=0

[/home/ilnanny]
row=6
col=0

