[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ilnanny/Documenti]
row=7
col=0

[/home/ilnanny/mykbd]
row=10
col=0

[/home/ilnanny/Musica]
row=0
col=0

[/home/ilnanny/Desktop]
row=1
col=0

[/home/ilnanny/Git]
row=8
col=0

[/home/ilnanny/utenti]
row=5
col=0

[/home/ilnanny/Scaricati]
row=4
col=0

[/home/ilnanny/bin]
row=6
col=0

[/home/ilnanny/Video]
row=2
col=0

[/home/ilnanny/symlinks]
row=9
col=0

[/home/ilnanny/Pubblici]
row=3
col=0

