[Desktop Entry]
Version=1.0
Exec=/usr/bin/catfish %f
Icon=catfish
StartupNotify=false
Terminal=false
Type=Application
Categories=Utility;X-XFCE;
Name=Application Finder
Name[it]=Catfish ricerca di file
Comment=Find and launch applications installed on your system
Comment[it]=Cerca nel file system
X-XFCE-Source=file:///usr/share/applications/xfce4-appfinder.desktop
Path=
