<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://openbox.org/">
  <menu id="root-menu" label="Applications">
  <separator label="Menu     Openbox"/>
    <item label="   Terminale"><action name="Execute"><command><![CDATA[exo-open --launch TerminalEmulator]]></command></action></item>
    <item label="   Web Browser"><action name="Execute"><command><![CDATA[exo-open --launch WebBrowser ]]></command></action></item>
    <item label="   File Manager"><action name="Execute"><command><![CDATA[exo-open --launch FileManager]]></command></action></item>
    <item label="   Geany Ide"><action name="Execute"><command><![CDATA[geany]]></command></action></item>
    <item label="   Esegui"><action name="Execute"><command><![CDATA[menu  -r]]></command></action></item>
  <separator label="Categorie"/>
  <menu id="0.00561868802560994" label="    Accessori  ">
    <item label="Emulatore di terminale"><action name="Execute"><command><![CDATA[exo-open --launch TerminalEmulator]]></command></action></item>
    <item label="Gestore dei file"><action name="Execute"><command><![CDATA[exo-open --launch FileManager]]></command></action></item>
    <item label="GVim"><action name="Execute"><command><![CDATA[gvim -f]]></command></action></item>
    <item label="Il gestore dei file Thunar"><action name="Execute"><command><![CDATA[thunar]]></command></action></item>
    <item label="nitrogen"><action name="Execute"><command><![CDATA[nitrogen]]></command></action></item>
    <item label="Rinominamento di massa"><action name="Execute"><command><![CDATA[/usr/lib64/Thunar/ThunarBulkRename]]></command></action></item>
    <item label="Sakura"><action name="Execute"><command><![CDATA[sakura]]></command></action></item>
    <item label="Vim"><action name="Execute"><command><![CDATA[xterm -e 'vim']]></command></action></item>
    <item label="Visualizzatore di immagini"><action name="Execute"><command><![CDATA[gpicview]]></command></action></item>
    <item label="Xarchiver"><action name="Execute"><command><![CDATA[xarchiver]]></command></action></item>
    <item label="Zim Desktop Wiki"><action name="Execute"><command><![CDATA[zim]]></command></action></item>
  </menu>
  <menu id="0.705353107859509" label="    Sviluppo  ">
    <item label="Geany"><action name="Execute"><command><![CDATA[geany]]></command></action></item>
    <item label="sandbox"><action name="Execute"><command><![CDATA[xterm -e 'sandbox']]></command></action></item>
  </menu>
  <menu id="0.234845739361969" label="    Grafica  ">
    <item label="Gcolor2"><action name="Execute"><command><![CDATA[gcolor2]]></command></action></item>
    <item label="GNU Image Manipulation Program"><action name="Execute"><command><![CDATA[gimp-2.10]]></command></action></item>
    <item label="Inkscape"><action name="Execute"><command><![CDATA[inkscape]]></command></action></item>
    <item label="MuPDF"><action name="Execute"><command><![CDATA[mupdf]]></command></action></item>
    <item label="Visualizzatore di immagini"><action name="Execute"><command><![CDATA[gpicview]]></command></action></item>
  </menu>
  <menu id="0.328872023938807" label="    Multimedia  ">
    <item label="Lettore multimediale VLC"><action name="Execute"><command><![CDATA[/usr/bin/vlc --started-from-file]]></command></action></item>
    <item label="Regolazione del volume PulseAudio"><action name="Execute"><command><![CDATA[pavucontrol]]></command></action></item>
  </menu>
  <menu id="0.606342138385191" label="    Network  ">
    <item label="Browser web"><action name="Execute"><command><![CDATA[exo-open --launch WebBrowser]]></command></action></item>
    <item label="Deluge"><action name="Execute"><command><![CDATA[deluge-gtk]]></command></action></item>
    <item label="Lettore di email"><action name="Execute"><command><![CDATA[exo-open --launch MailReader]]></command></action></item>
    <item label="Opera"><action name="Execute"><command><![CDATA[opera]]></command></action></item>
    <item label="wpa__gui"><action name="Execute"><command><![CDATA[wpa_gui]]></command></action></item>
  </menu>
  <menu id="0.210909122353755" label="    Impostazioni  ">
    <item label="Applicazioni preferite"><action name="Execute"><command><![CDATA[exo-preferred-applications]]></command></action></item>
    <item label="Gestore dei pannelli"><action name="Execute"><command><![CDATA[tint2conf]]></command></action></item>
    <item label="Impostazioni del Gestore dei File"><action name="Execute"><command><![CDATA[thunar-settings]]></command></action></item>
    <item label="Openbox Configuration Manager"><action name="Execute"><command><![CDATA[obconf]]></command></action></item>
    <item label="Pannello"><action name="Execute"><command><![CDATA[xfce4-panel --preferences]]></command></action></item>
    <item label="Personalizza aspetto e stile"><action name="Execute"><command><![CDATA[lxappearance]]></command></action></item>
    <item label="Unità rimovibili e supporti"><action name="Execute"><command><![CDATA[thunar-volman-settings]]></command></action></item>
  </menu>
  <menu id="0.368721559780479" label="    Sistema  ">
    <item label="Gestione stampa"><action name="Execute"><command><![CDATA[/usr/bin/xdg-open http://localhost:631/]]></command></action></item>
    <item label="GParted"><action name="Execute"><command><![CDATA[/usr/bin/gparted]]></command></action></item>
    <item label="Hardware Lister"><action name="Execute"><command><![CDATA[/usr/sbin/gtk-lshw]]></command></action></item>
    <item label="Htop"><action name="Execute"><command><![CDATA[xterm -e 'htop']]></command></action></item>
    <item label="Il gestore dei file Thunar"><action name="Execute"><command><![CDATA[thunar]]></command></action></item>
    <item label="ranger"><action name="Execute"><command><![CDATA[xterm -e 'ranger']]></command></action></item>
    <item label="Rinominamento di massa"><action name="Execute"><command><![CDATA[/usr/lib64/Thunar/ThunarBulkRename]]></command></action></item>
    <item label="Sakura"><action name="Execute"><command><![CDATA[sakura]]></command></action></item>
    <item label="Tint2"><action name="Execute"><command><![CDATA[tint2]]></command></action></item>
  </menu>
    <menu id="0.991142378695336" label="    File  Recenti " execute="places-pipemenu --recent ~/"/>
  <separator label="Avanzate"/>
  <menu id="0.869734893311406" label="   Configurazioni">
  <menu id="0.10935857734944" label=" Openbox">
    <item label=" Openbox Conf"><action name="Execute"><command><![CDATA[obconf]]></command></action></item>
    <item label=" Edita Schema.pl"><action name="Execute"><command><![CDATA[geany ~/.config/obmenu-generator/schema.pl]]></command></action></item>
    <item label=" Edita menu.xml"><action name="Execute"><command><![CDATA[exo-open ~/.config/openbox/menu.xml]]></command></action></item>
    <item label=" Edita rc.xml"><action name="Execute"><command><![CDATA[exo-open ~/.config/openbox/rc.xml]]></command></action></item>
    <item label=" Edita autostart"><action name="Execute"><command><![CDATA[exo-open ~/.config/openbox/autostart]]></command></action></item>
    <item label=" Rigenera Menu "><action name="Execute"><command><![CDATA[obmenu-generator -s -c]]></command></action></item>
  </menu>
    <item label=" Edita Conky"><action name="Execute"><command><![CDATA[geany ~/.conkyrc]]></command></action></item>
    <item label=" Compositore"><action name="Execute"><command><![CDATA[exo-open ~/.config/compton.conf]]></command></action></item>
    <menu id="0.36593346602039" label=" Tint2" execute="tint2-pipemenu"/>
    <menu id="0.718926813676696" label=" Polybar" execute="polybar-pipemenu"/>
  <menu id="0.212839311950109" label=" Sistema">
    <item label=" Imposta Audio"><action name="Execute"><command><![CDATA[volumeicon]]></command></action></item>
    <item label=" Software Manager"><action name="Execute"><command><![CDATA[portgui]]></command></action></item>
    <item label=" Gestore Impostazioni"><action name="Execute"><command><![CDATA[xfce4-settings-manager]]></command></action></item>
  </menu>
  <separator label=" "/>
    <item label=" Cambia Sfondo"><action name="Execute"><command><![CDATA[nitrogen]]></command></action></item>
    <item label=" Temi Rofi "><action name="Execute"><command><![CDATA[rofi-theme-selector]]></command></action></item>
  </menu>
    <menu id="0.582390299381373" label="   KeyBInds  " execute="kb-pipemenu"/>
    <menu id="0.0941900539478375" label="   Info    Online " execute="info-pipemenu"/>
    <item label="   Rigenera  Menu "><action name="Execute"><command><![CDATA[obmenu-generator -s -c]]></command></action></item>
  <separator label="E  s  c  i "/>
  <menu id="0.231769760459535" label="       ▶     ▶     ▶  ">
    <item label=" Esci da Openbox"><action name="Execute"><command><![CDATA[openbox --exit]]></command></action></item>
    <item label="        ▫      ▫      ▫ "><action name="Execute"><command><![CDATA[]]></command></action></item>
    <item label=" Riavvia il Sistema"><action name="Execute"><command><![CDATA[xterm -e sudo reboot]]></command></action></item>
    <item label="        ▫      ▫      ▫ "><action name="Execute"><command><![CDATA[]]></command></action></item>
    <item label=" Spegni il Computer"><action name="Execute"><command><![CDATA[xterm -e sudo poweroff]]></command></action></item>
  </menu>
  </menu>
</openbox_menu>
