<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://openbox.org/">
  <menu id="root-menu" label="Applications">
  <separator label="Menu     Openbox"/>
    <item label="   Terminale"><action name="Execute"><command><![CDATA[exo-open --launch TerminalEmulator]]></command></action></item>
    <item label="   Web Browser"><action name="Execute"><command><![CDATA[exo-open --launch WebBrowser ]]></command></action></item>
    <item label="   File Manager"><action name="Execute"><command><![CDATA[exo-open --launch FileManager]]></command></action></item>
    <item label="   Geany Ide"><action name="Execute"><command><![CDATA[geany]]></command></action></item>
    <item label="   Esegui"><action name="Execute"><command><![CDATA[menu  -r]]></command></action></item>
  <separator label="Categorie"/>
  <menu id="0.979695624745549" label="    Accessori  ">
    <item label="Application Finder"><action name="Execute"><command><![CDATA[xfce4-appfinder]]></command></action></item>
    <item label="Archive Manager"><action name="Execute"><command><![CDATA[file-roller]]></command></action></item>
    <item label="Bulk Rename"><action name="Execute"><command><![CDATA[/usr/lib/Thunar/ThunarBulkRename]]></command></action></item>
    <item label="Color Picker"><action name="Execute"><command><![CDATA[com.github.ronnydo.colorpicker]]></command></action></item>
    <item label="Disks"><action name="Execute"><command><![CDATA[gnome-disks]]></command></action></item>
    <item label="Emoji Picker"><action name="Execute"><command><![CDATA[/usr/bin/emoji-picker]]></command></action></item>
    <item label="Etcher"><action name="Execute"><command><![CDATA[sudo /media/Dati/Softwares/Gnu-Linux/balena-etcher/balenaEtcher.AppImage]]></command></action></item>
    <item label="File Manager"><action name="Execute"><command><![CDATA[exo-open --launch FileManager]]></command></action></item>
    <item label="GVim"><action name="Execute"><command><![CDATA[gvim -f]]></command></action></item>
    <item label="HP Device Manager"><action name="Execute"><command><![CDATA[hp-toolbox]]></command></action></item>
    <item label="Kleopatra"><action name="Execute"><command><![CDATA[kleopatra]]></command></action></item>
    <item label="Leafpad"><action name="Execute"><command><![CDATA[leafpad]]></command></action></item>
    <item label="nitrogen"><action name="Execute"><command><![CDATA[nitrogen]]></command></action></item>
    <item label="picom"><action name="Execute"><command><![CDATA[picom]]></command></action></item>
    <item label="Plank"><action name="Execute"><command><![CDATA[plank]]></command></action></item>
    <item label="Run Program..."><action name="Execute"><command><![CDATA[xfce4-appfinder --collapsed]]></command></action></item>
    <item label="Screenshot"><action name="Execute"><command><![CDATA[xfce4-screenshooter]]></command></action></item>
    <item label="Terminal Emulator"><action name="Execute"><command><![CDATA[exo-open --launch TerminalEmulator]]></command></action></item>
    <item label="Thunar File Manager"><action name="Execute"><command><![CDATA[thunar]]></command></action></item>
    <item label="Vim"><action name="Execute"><command><![CDATA[xterm -e 'vim']]></command></action></item>
    <item label="Xarchiver"><action name="Execute"><command><![CDATA[xarchiver]]></command></action></item>
    <item label="Xfburn"><action name="Execute"><command><![CDATA[xfburn]]></command></action></item>
    <item label="Zim Desktop Wiki"><action name="Execute"><command><![CDATA[zim]]></command></action></item>
  </menu>
  <menu id="0.864306971754075" label="    Sviluppo  ">
    <item label="CMake"><action name="Execute"><command><![CDATA[cmake-gui]]></command></action></item>
    <item label="Color Picker"><action name="Execute"><command><![CDATA[com.github.ronnydo.colorpicker]]></command></action></item>
    <item label="Cuttlefish"><action name="Execute"><command><![CDATA[cuttlefish]]></command></action></item>
    <item label="Devhelp"><action name="Execute"><command><![CDATA[devhelp]]></command></action></item>
    <item label="Geany"><action name="Execute"><command><![CDATA[geany]]></command></action></item>
    <item label="GHex"><action name="Execute"><command><![CDATA[ghex]]></command></action></item>
    <item label="Glade"><action name="Execute"><command><![CDATA[glade]]></command></action></item>
    <item label="Plasma Engine Explorer"><action name="Execute"><command><![CDATA[plasmaengineexplorer]]></command></action></item>
    <item label="Plasma Global Theme Explorer"><action name="Execute"><command><![CDATA[lookandfeelexplorer]]></command></action></item>
    <item label="Plasma Theme Explorer"><action name="Execute"><command><![CDATA[plasmathemeexplorer]]></command></action></item>
  </menu>
  <menu id="0.572245379249704" label="    Grafica  ">
    <item label="Color Picker"><action name="Execute"><command><![CDATA[com.github.ronnydo.colorpicker]]></command></action></item>
    <item label="FontForge"><action name="Execute"><command><![CDATA[fontforge]]></command></action></item>
    <item label="GNU Image Manipulation Program"><action name="Execute"><command><![CDATA[gimp-2.10]]></command></action></item>
    <item label="GNU Image Manipulation Program"><action name="Execute"><command><![CDATA[gimp-2.10]]></command></action></item>
    <item label="Gpick"><action name="Execute"><command><![CDATA[gpick]]></command></action></item>
    <item label="Inkscape"><action name="Execute"><command><![CDATA[inkscape]]></command></action></item>
    <item label="Krita"><action name="Execute"><command><![CDATA[krita]]></command></action></item>
    <item label="LO-Draw"><action name="Execute"><command><![CDATA[libreoffice --draw]]></command></action></item>
    <item label="nomacs"><action name="Execute"><command><![CDATA[nomacs]]></command></action></item>
    <item label="XSane - Scanning"><action name="Execute"><command><![CDATA[xsane]]></command></action></item>
  </menu>
  <menu id="0.728516959209578" label="    Multimedia  ">
    <item label="Audacious"><action name="Execute"><command><![CDATA[audacious]]></command></action></item>
    <item label="PulseAudio Volume Control"><action name="Execute"><command><![CDATA[pavucontrol]]></command></action></item>
    <item label="VLC media player"><action name="Execute"><command><![CDATA[/usr/bin/vlc --started-from-file]]></command></action></item>
    <item label="Volume Icon"><action name="Execute"><command><![CDATA[volumeicon]]></command></action></item>
    <item label="Xfburn"><action name="Execute"><command><![CDATA[xfburn]]></command></action></item>
  </menu>
  <menu id="0.374526970449626" label="    Network  ">
    <item label="Chromium"><action name="Execute"><command><![CDATA[/usr/bin/chromium]]></command></action></item>
    <item label="Deluge"><action name="Execute"><command><![CDATA[deluge-gtk]]></command></action></item>
    <item label="Mail Reader"><action name="Execute"><command><![CDATA[exo-open --launch MailReader]]></command></action></item>
    <item label="Mozilla Firefox"><action name="Execute"><command><![CDATA[firefox]]></command></action></item>
    <item label="Opera"><action name="Execute"><command><![CDATA[opera]]></command></action></item>
    <item label="Telegram Desktop"><action name="Execute"><command><![CDATA[telegram-desktop --]]></command></action></item>
    <item label="uGet"><action name="Execute"><command><![CDATA[env GDK_BACKEND=x11 uget-gtk]]></command></action></item>
    <item label="Web Browser"><action name="Execute"><command><![CDATA[firefox]]></command></action></item>
  </menu>
  <menu id="0.212415525209494" label="    Ufficio  ">
    <item label="LibreOffice"><action name="Execute"><command><![CDATA[libreoffice]]></command></action></item>
    <item label="LO-Base"><action name="Execute"><command><![CDATA[libreoffice --base]]></command></action></item>
    <item label="LO-Calc"><action name="Execute"><command><![CDATA[libreoffice --calc]]></command></action></item>
    <item label="LO-Draw"><action name="Execute"><command><![CDATA[libreoffice --draw]]></command></action></item>
    <item label="LO-Impress"><action name="Execute"><command><![CDATA[libreoffice --impress]]></command></action></item>
    <item label="LO-Math"><action name="Execute"><command><![CDATA[libreoffice --math]]></command></action></item>
    <item label="LO-Writer"><action name="Execute"><command><![CDATA[libreoffice --writer]]></command></action></item>
    <item label="Zathura"><action name="Execute"><command><![CDATA[zathura]]></command></action></item>
  </menu>
  <menu id="0.63647479274945" label="    Altro  ">
    <item label="hp-uiscan"><action name="Execute"><command><![CDATA[/usr/bin/hp-uiscan]]></command></action></item>
  </menu>
  <menu id="0.769866145489765" label="    Impostazioni  ">
    <item label="Add/Remove Software"><action name="Execute"><command><![CDATA[sudo pamac-manager]]></command></action></item>
    <item label="Advanced Network Configuration"><action name="Execute"><command><![CDATA[nm-connection-editor]]></command></action></item>
    <item label="Appearance"><action name="Execute"><command><![CDATA[xfce4-appearance-settings]]></command></action></item>
    <item label="Color Profiles"><action name="Execute"><command><![CDATA[xfce4-color-settings]]></command></action></item>
    <item label="Display"><action name="Execute"><command><![CDATA[xfce4-display-settings]]></command></action></item>
    <item label="Etcher"><action name="Execute"><command><![CDATA[sudo /media/Dati/Softwares/Gnu-Linux/balena-etcher/balenaEtcher.AppImage]]></command></action></item>
    <item label="File Manager Settings"><action name="Execute"><command><![CDATA[thunar-settings]]></command></action></item>
    <item label="IBus Preferences"><action name="Execute"><command><![CDATA[ibus-setup]]></command></action></item>
    <item label="LXappearance"><action name="Execute"><command><![CDATA[lxappearance]]></command></action></item>
    <item label="MIME Type Editor"><action name="Execute"><command><![CDATA[xfce4-mime-settings]]></command></action></item>
    <item label="Mouse and Touchpad"><action name="Execute"><command><![CDATA[xfce4-mouse-settings]]></command></action></item>
    <item label="OBconf"><action name="Execute"><command><![CDATA[obconf]]></command></action></item>
    <item label="Openbox Configuration Manager"><action name="Execute"><command><![CDATA[obconf]]></command></action></item>
    <item label="Panel"><action name="Execute"><command><![CDATA[xfce4-panel --preferences]]></command></action></item>
    <item label="Power Manager"><action name="Execute"><command><![CDATA[xfce4-power-manager-settings]]></command></action></item>
    <item label="Preferred Applications"><action name="Execute"><command><![CDATA[exo-preferred-applications]]></command></action></item>
    <item label="Qt5 Settings"><action name="Execute"><command><![CDATA[qt5ct]]></command></action></item>
    <item label="Removable Drives and Media"><action name="Execute"><command><![CDATA[thunar-volman-settings]]></command></action></item>
    <item label="Session and Startup"><action name="Execute"><command><![CDATA[xfce4-session-settings]]></command></action></item>
    <item label="Settings Editor"><action name="Execute"><command><![CDATA[xfce4-settings-editor]]></command></action></item>
    <item label="Settings Manager"><action name="Execute"><command><![CDATA[xfce4-settings-manager]]></command></action></item>
    <item label="Software Update"><action name="Execute"><command><![CDATA[pamac-manager --updates]]></command></action></item>
    <item label="Tint2 Settings"><action name="Execute"><command><![CDATA[tint2conf]]></command></action></item>
    <item label="Xfce Terminal"><action name="Execute"><command><![CDATA[xfce4-terminal --preferences]]></command></action></item>
  </menu>
  <menu id="0.475557786869476" label="    Sistema  ">
    <item label="Add/Remove Software"><action name="Execute"><command><![CDATA[sudo pamac-manager]]></command></action></item>
    <item label="BleachBit"><action name="Execute"><command><![CDATA[bleachbit]]></command></action></item>
    <item label="Bulk Rename"><action name="Execute"><command><![CDATA[/usr/lib/Thunar/ThunarBulkRename]]></command></action></item>
    <item label="conky"><action name="Execute"><command><![CDATA[conky --daemonize --pause=1]]></command></action></item>
    <item label="Etcher"><action name="Execute"><command><![CDATA[sudo /media/Dati/Softwares/Gnu-Linux/balena-etcher/balenaEtcher.AppImage]]></command></action></item>
    <item label="GParted"><action name="Execute"><command><![CDATA[/usr/bin/gparted]]></command></action></item>
    <item label="Hardware Locality lstopo"><action name="Execute"><command><![CDATA[lstopo]]></command></action></item>
    <item label="Manage Printing"><action name="Execute"><command><![CDATA[/usr/bin/xdg-open http://localhost:631/]]></command></action></item>
    <item label="Oracle xVM VirtualBox"><action name="Execute"><command><![CDATA[VirtualBox]]></command></action></item>
    <item label="ranger"><action name="Execute"><command><![CDATA[xterm -e 'ranger']]></command></action></item>
    <item label="Software Update"><action name="Execute"><command><![CDATA[pamac-manager --updates]]></command></action></item>
    <item label="Thunar File Manager"><action name="Execute"><command><![CDATA[thunar]]></command></action></item>
    <item label="Tint2"><action name="Execute"><command><![CDATA[tint2]]></command></action></item>
    <item label="Xfce Terminal"><action name="Execute"><command><![CDATA[xfce4-terminal]]></command></action></item>
  </menu>
    <menu id="0.895013490750671" label="    File  Recenti " execute="places-pipemenu --recent ~/"/>
  <separator label="Avanzate"/>
  <menu id="0.69693307952711" label="   Configurazioni">
  <menu id="0.854993684207763" label=" Openbox">
    <item label=" Openbox Conf"><action name="Execute"><command><![CDATA[obconf]]></command></action></item>
    <item label=" Edita Schema.pl"><action name="Execute"><command><![CDATA[geany ~/.config/obmenu-generator/schema.pl]]></command></action></item>
    <item label=" Edita menu.xml"><action name="Execute"><command><![CDATA[exo-open ~/.config/openbox/menu.xml]]></command></action></item>
    <item label=" Edita rc.xml"><action name="Execute"><command><![CDATA[exo-open ~/.config/openbox/rc.xml]]></command></action></item>
    <item label=" Edita autostart"><action name="Execute"><command><![CDATA[exo-open ~/.config/openbox/autostart]]></command></action></item>
    <item label=" Rigenera Menu "><action name="Execute"><command><![CDATA[obmenu-generator -s -c]]></command></action></item>
  </menu>
    <item label=" Edita Conky"><action name="Execute"><command><![CDATA[geany ~/.conkyrc]]></command></action></item>
    <item label=" Compositore"><action name="Execute"><command><![CDATA[exo-open ~/.config/compton.conf]]></command></action></item>
    <menu id="0.940578838607497" label=" Tint2" execute="tint2-pipemenu"/>
    <menu id="0.8514791709256" label=" Polybar" execute="polybar-pipemenu"/>
  <menu id="0.21582937713583" label=" Sistema">
    <item label=" Imposta Audio"><action name="Execute"><command><![CDATA[volumeicon]]></command></action></item>
    <item label=" Software Manager"><action name="Execute"><command><![CDATA[portgui]]></command></action></item>
    <item label=" Gestore Impostazioni"><action name="Execute"><command><![CDATA[xfce4-settings-manager]]></command></action></item>
  </menu>
  <separator label=" "/>
    <item label=" Cambia Sfondo"><action name="Execute"><command><![CDATA[nitrogen]]></command></action></item>
    <item label=" Temi Rofi "><action name="Execute"><command><![CDATA[rofi-theme-selector]]></command></action></item>
  </menu>
    <menu id="0.945897582074501" label="   KeyBInds  " execute="kb-pipemenu"/>
    <menu id="0.331165032432924" label="   Info    Online " execute="info-pipemenu"/>
    <item label="   Rigenera  Menu "><action name="Execute"><command><![CDATA[obmenu-generator -s -c]]></command></action></item>
  <separator label="E  s  c  i "/>
  <menu id="0.466374412760189" label="       ▶     ▶     ▶  ">
    <item label=" Esci da Openbox"><action name="Execute"><command><![CDATA[openbox --exit]]></command></action></item>
    <item label="        ▫      ▫      ▫ "><action name="Execute"><command><![CDATA[]]></command></action></item>
    <item label=" Riavvia il Sistema"><action name="Execute"><command><![CDATA[xterm -e sudo reboot]]></command></action></item>
    <item label="        ▫      ▫      ▫ "><action name="Execute"><command><![CDATA[]]></command></action></item>
    <item label=" Spegni il Computer"><action name="Execute"><command><![CDATA[xterm -e sudo poweroff]]></command></action></item>
  </menu>
  </menu>
</openbox_menu>
