
 XTerm*background: grey13

 XTerm*foreground: grey75

 XTerm*cursorColor: darkorange1

 XTerm*scrollBar: false

 XTerm.VT100.geometry: 80x24

 XTterm*utf8: 2

 XTerm*termName: xterm-256color

 XTerm*faceName: xft:Monospace:pixelsize=13

 XTerm*saveLines: 7777

 XTerm*metaSendsEscape: true

 XTerm*highlightSelection: true

 XTerm*trimSelection: true

 XTerm*cutNewline: false

 XTerm*colorBDMode: true
 XTerm*colorBD: khaki

 XTerm*colorULMode: true
 XTerm*colorUL: tomato

 XTerm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48,35:48,58:48,63:48,61:48,44:48,38:48,59:48

 XTerm*color0:	#171717
 XTerm*color8:	#737373
 XTerm*color1:	#FF5E5E
 XTerm*color9:	#FF7878
 XTerm*color2:	#9CE82B
 XTerm*color10:	#9ACD32
 XTerm*color3:	#F0E68C
 XTerm*color11:	#EEE8AA
 XTerm*color4:	#008AFF
 XTerm*color12:	#4F98FF
 XTerm*color5:	#E88CFF
 XTerm*color13:	#EDA6FF
 XTerm*color6:	#87CEFA
 XTerm*color14:	#B0E2FF
 XTerm*color7:	#DCDCCC
 XTerm*color15:	#FFFFFF

URxvt.font: xft:Hack:pixelsize=14
URxvt.scrollBar: false
URxvt.cursorBlink: true
URxvt.jumpScroll: true
URxvt*secondaryWheel: true
URxvt.transparent: true
URxvt.shading: 10
URxvt.url-launcher: /usr/bin/firefox
URxvt.perl-ext-common: default,matcher
URxvt.matcher.button: 1

URxvt.foreground:  #FFFFFF
URxvt.background:  #000000
Xcursor.theme: Lila_HD-cursor
