[Desktop Entry]
Version=1.0
Name=File Manager Settings
Name[it]=Impostazioni del Gestore dei File
Comment=Configure the Thunar file manager
Comment[it]=Configura il gestore dei file Thunar
Exec=thunar-settings
Icon=system-file-manager
Terminal=false
Type=Application
Categories=XFCE;GTK;Settings;DesktopSettings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
StartupNotify=true
Name[it_IT.UTF-8]=Impostazioni Thunar
