#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Ascolta Radio Deejay diretta - Player
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=kmakajpabkjmacnfapdkdmpjodbfocma
Icon=chrome-kmakajpabkjmacnfapdkdmpjodbfocma-Default
StartupWMClass=crx_kmakajpabkjmacnfapdkdmpjodbfocma
Name[it_IT.UTF-8]=Radio Deejay
