#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=(34) Facebook
Exec=/opt/google/chrome/google-chrome --profile-directory=Default --app-id=celnaknmndcdcjcagffhbhciignkeokb
Icon=facebook
StartupWMClass=crx_celnaknmndcdcjcagffhbhciignkeokb
Name[it_IT.UTF-8]=Facebook
