[Desktop Entry]
Version=1.0
Type=Application
Name=Telegram
Comment=Avvia Telegram
Exec=/opt/Telegram/Updater
Icon=telegram
Path=
Terminal=false
StartupNotify=false
