#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=SoundCloud
Exec=/usr/bin/chromium-browser --profile-directory=Default --app-id=njhbiogfhgocofgjnhiodbjahepbfebl
Icon=soundcloud
StartupWMClass=crx_njhbiogfhgocofgjnhiodbjahepbfebl
